<?xml version="1.0"?>
<robot name="agv" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find AGV_V1)/urdf/AGV_V1.urdf.xacro"/>
    <!--Gazebo Plugins-->

  <gazebo>
    <plugin name="ros2_control" filename="libros2_control_gazebo.so">
      <robotNamespace>AGV</robotNamespace>
    </plugin>
  </gazebo>

  <gazebo>
      <plugin filename="ignition-gazebo-diff-drive-system" name="ignition::gazebo::systems::DiffDrive">
        <!-- Wheel Joints -->
        <left_joint>front_left</left_joint>
        <right_joint>front_right</right_joint>
        <left_joint>back_left</left_joint>
        <right_joint>back_right</right_joint>

        <!-- Kinematics -->
        <wheel_separation>0.275</wheel_separation>
        <wheel_radius>0.05</wheel_radius>
        <odom_publish_frequency>200</odom_publish_frequency>
        
        <!-- TF Frames -->
        <frame_id>/odom</frame_id>
        <child_frame_id>/base_link</child_frame_id>

        <!-- topics -->
        <topic>/AGV/cmd_vel</topic>
        <odom_topic>/AGV/odometry</odom_topic>
        <tf_topic>/AGV/tf</tf_topic>
        <tf_topic></tf_topic>
      </plugin>
  </gazebo>

  <gazebo>
      <plugin filename="ignition-gazebo-joint-state-publisher-system" name="ignition::gazebo::systems::JointStatePublisher">
        <update_rate>100</update_rate>
        <joint_name>front_left</joint_name>
        <joint_name>front_right</joint_name>
        <joint_name>back_left</joint_name>
        <joint_name>back_right</joint_name>
      </plugin>
  </gazebo> 

  <gazebo reference="base_link">
    <sensor name="imu_sensor" type="imu">
      <topic>/AGV/imu</topic>
      <frame_id>base_link</frame_id>
      <ignition_frame_id>base_link</ignition_frame_id>
      <plugin filename="libignition-gazebo-imu-system.so" name="ignition::gazebo::systems::Imu">
        <initial_orientation_as_reference>false</initial_orientation_as_reference>
      </plugin>
      <always_on>true</always_on>
      <update_rate>200</update_rate>
      <visualize>true</visualize>
     <imu>
     	<angular_velocity>
     	  <x>
     	    <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
              <bias_mean>0.0000075</bias_mean>
              <bias_stddev>0.0000008</bias_stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
              <bias_mean>0.1</bias_mean>
              <bias_stddev>0.001</bias_stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>

  <gazebo reference="lidar">
    <sensor type="gpu_lidar" name="generic_lidar_sensor">

      <topic>/AGV/scan</topic>
      <frame_id>lidar</frame_id>
      <ignition_frame_id>lidar</ignition_frame_id>

      <update_rate>20.0</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>512</samples>
            <resolution>1</resolution>
            <min_angle>-${pi*2}</min_angle>
            <max_angle>${pi*2}</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.20</min>
          <max>12.0</max>
          <resolution>0.03</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.001</stddev>
        </noise>
      </ray>
      <always_on>1</always_on>
      <visualize>false</visualize>
    </sensor>
  </gazebo>

</robot>
